<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Coelina.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Coelina.Properties.Settings>
            <setting name="smtpServer" serializeAs="String">
                <value>smtp.web.de</value>
            </setting>
            <setting name="mailUser" serializeAs="String">
                <value />
            </setting>
            <setting name="mailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="bcc" serializeAs="String">
                <value />
            </setting>
            <setting name="body" serializeAs="String">
                <value>[Alias2] [Name] ([Kürzel]), 
in Ihrer Rolle als [Alias1] schicke ich Ihnen den folgenden Anhang.</value>
            </setting>
            <setting name="betreff" serializeAs="String">
                <value>Post für [Name] ([Kürzel])</value>
            </setting>
            <setting name="attachment2" serializeAs="String">
                <value />
            </setting>
            <setting name="attachment3" serializeAs="String">
                <value />
            </setting>
            <setting name="aktivesVerzeichnis" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="LogDatei" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="absender" serializeAs="String">
                <value />
            </setting>
            <setting name="cc" serializeAs="String">
                <value />
            </setting>
            <setting name="attachment1" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordSpeichern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="neuesteDatei" serializeAs="String">
                <value />
            </setting>
            <setting name="vollständigerPfadZurDatei" serializeAs="String">
                <value />
            </setting>
            <setting name="maillogSenden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="immerNeuesteDateiVorschlagen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaileinstellungenKorrekt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSLEinschalten" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mailsAlsHtmlSenden" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kopfDerLogdatei" serializeAs="String">
                <value>Kopfzeile der Logdatei.</value>
            </setting>
            <setting name="BodyUndCoZurWiedervorlageSpeichern" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DieseMailIgnorieren" serializeAs="String">
                <value>ich_selbst@coelina.de</value>
            </setting>
            <setting name="DieseDomainIgnorieren" serializeAs="String">
                <value>gesperrt.de</value>
            </setting>
            <setting name="NachVersandDateienLöschen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AliasAktiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogSpaltenIndex1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogSpaltenIndex2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogSpaltenIndex3" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LogSpaltenIndex4" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LogSpaltenIndex5" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LogSpaltenIndex6" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CCundBCCinLogDateiSchreiben" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogdateiName" serializeAs="String">
                <value>coelina</value>
            </setting>
            <setting name="LogdateiDateiendung" serializeAs="String">
                <value>txt</value>
            </setting>
            <setting name="AliasListe" serializeAs="String">
                <value>empfaenger1@coelina.de,MÜL,Peter Müller,Sachbearbeiter,Sehr geehrter Herr,0286190990-99,A1;empfaenger2@coelina.de,MEY,Hans Meyer,Vorstandsvorsitzender,Sehr geehrter Herr,0286190990-88,A2;empfaenger3@coelina.de,JAN,Piet Jansen,Syndikus,Sehr geehrter Herr,0286190990-52,A3;empfaenger5@coelina.de,KL,Dr. Petra Kleining,Abteilungsleiterin,Sehr geehrte Frau,0286190990-11,A4</value>
            </setting>
            <setting name="RegExBeschreibung1" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBeschreibung2" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBeschreibung3" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBeschreibung4" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBeschreibung5" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBeschreibung6" serializeAs="String">
                <value>@"IP"</value>
            </setting>
            <setting name="RegExDefinition1" serializeAs="String">
                <value>@"\b[A-Z0-9._-]+@[A-Z0-9][A-Z0-9.-]{0,61}[A-Z0-9]\.[A-Z.]{2,6}\b"</value>
            </setting>
            <setting name="RegExDefinition2" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExDefinition3" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExDefinition4" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExDefinition5" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExDefinition6" serializeAs="String">
                <value>@"((2[0-4]\d|25[0-5]|[01]?\d\d?)\.){3}(2[0-4]\d|25[0-5]|[01]?\d\d?)"</value>
            </setting>
            <setting name="RegExBegrenzer1_1" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer1_2" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer1_3" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer1_4" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer1_5" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer1_6" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer2_1" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer2_2" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer2_3" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer2_4" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer2_5" serializeAs="String">
                <value />
            </setting>
            <setting name="RegExBegrenzer2_6" serializeAs="String">
                <value />
            </setting>
            <setting name="BlindCopyAn" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswortSpeichern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogErweiternUndNichtLöschen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortierkriteriumLogdatei" serializeAs="String">
                <value />
            </setting>
        </Coelina.Properties.Settings>
    </userSettings>
</configuration>